.posicao{

    position: static;
    background-color: green;
    color: white;
    padding: 5px;
}

.posicao2{

    position: relative;
    top: 30px;
    left: 50px;
    background-color: green;
    color: white;
    padding: 5px;
}

div{
    width: 300px;
    height: 100px;
    background-color: yellow;
    margin: 100px;
    overflow: auto;
}