*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: sans-serif;
}

body{
    background-image: url("1.png");
    background-repeat: no-repeat, repeat;
    background-color: aliceblue;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.form{
    background: #d4cfcf;
    width: 50%;
    height: 70%;
    margin: 0 auto;
    text-align: center;
    border: 2px solid #405d5f;
    border-radius: 10px;
    margin-top: 50px;
}

h1{
    background: #405d5f;
}

input,select{
    border-radius: 10px;
    height: 30px;
    border: none;
}


input[type="submit"]{

    cursor: pointer;
    border-radius: 5px;
    border: none;
    width: 80px;
    height: 35px;

}

input[type="button"]{
    cursor: pointer;
    border-radius: 5px;
    border: none;
    width: 80px;
    height: 35px;
}


input[type="submit"]:hover{
    background: #405d5f;
    color: #fff;

}

input[type="button"]:hover{
    background: #405d5f;
    color: #fff;

}












