/*@font-face {
    font-family: "Orbitron";
    src: url("font/Orbitron-Regular.ttf");
}

.nova-letra{
    font-family: "Orbitron";
    font-size: 24px;
}

*/

body{
    .titillium-web-light {
        font-family: "Titillium Web", sans-serif;
        font-weight: 300;
        font-style: normal;
      }
      
      .titillium-web-semibold {
        font-family: "Titillium Web", sans-serif;
        font-weight: 600;
        font-style: normal;
      }
      
}

